.search-your-movie {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    height: 600px;
    font-family: initial;
    align-content: center;
    justify-content: center;
    font-size: -webkit-xxx-large;
}